---
const pathname = Astro.url.pathname;
const base = import.meta.env.BASE_URL;

const navigation = [
  { label: 'Accueil', href: `${base}/` },
  { label: 'Le Chœur', href: `${base}/le-choeur` },
  { label: 'Concerts', href: `${base}/concerts` },
  { label: 'Médias', href: `${base}/medias` },
  { label: 'Nous Rejoindre', href: `${base}/nous-rejoindre` },
  { label: 'Contact', href: `${base}/contact` },
];
---

<header class="main-header">
  <nav class="main-header__menu">
    <ul class="main-header__menu-list">
      <li>
        <a href={navigation[0].href} title={navigation[0].label}>
          <img src={`${base}/logo-cassiopee.png`} alt="Logo Cassiopée" />
        </a>
      </li>
      <li>
        <a
          class="main-header__menu-link"
          href={navigation[1].href}
          class={pathname === navigation[1].href ? 'active' : ''}
        >
          {navigation[1].label}
        </a>
      </li>
      <li>
        <a
          class="main-header__menu-link"
          href={navigation[2].href}
          class={pathname === navigation[2].href ? 'active' : ''}
        >
          {navigation[2].label}
        </a>
      </li>
      <li>
        <a
          class="main-header__menu-link"
          href={navigation[3].href}
          class={pathname === navigation[3].href ? 'active' : ''}
        >
          {navigation[3].label}
        </a>
      </li>
      <li>
        <a
          class="main-header__menu-link"
          href={navigation[4].href}
          class={pathname === navigation[4].href ? 'active' : ''}
        >
          {navigation[4].label}
        </a>
      </li>
      <li>
        <a
          class="main-header__menu-link"
          href={navigation[5].href}
          class={pathname === navigation[5].href ? 'active' : ''}
        >
          {navigation[5].label}
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .main-header {
    position: relative;
  }

  .main-header__menu {
    max-width: 1400px;
    margin: 0 auto;
    padding: 5rem 2rem;
  }

  .main-header__menu-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding-left: 0;
    list-style: none;

    & li:first-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        display: block;
        height: 9rem;
      }
    }

    & li:nth-child(5) {
      margin-left: auto;
    }
  }

  .main-header__menu-link {
    color: inherit;
    text-decoration: none;

    &::after {
      content: '';
      display: block;
      padding-top: 0.15em;
      border-bottom: 2px dotted currentColor;
    }

    &:hover {
      color: var(--c-orange);
    }
  }
</style>
